node_modules
cypress/fixtures/
cypress/support/
backend/.terraform/
backend/.terraform.lock.hcl
backend/terraform.tfstate
backend/terraform.tfstate.backup
cypress.config.js
package.json
package-lock.json
src/counter.js