backend/terraform.tfstate
backend/.terraform.lock.hcl
backend/terraform.tfstate.backup
backend/.terraform/
cypress.config.js
package.json
package-lock.json
cypress/fixtures/
cypress/support/

node_modules
